
p {
	line-height: 1.5;
}

body {
	background-color: orange;
	font-size: 100%;
}
 h1{
	text-align: center;
	font-size: 2.5em;
}
li {
	line-height: 1.5;
}
.book-info {
	float: left;
	display: inline-block;
}
.book-title {
	font-style: italic;
}
