<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:each = "review: ${reviews}">
<head>
	<title th:text="${review.title}">A review</title>
</head>
<body>
	<h1>Lisa Reads</h1>
	<article>
		<header>
		<h2 th:text = "${review.title}">A review</h2>
			<p>by  <span th:text = "${review.author}"></span></p>
			<img th:src="${review.imageUrl}">
			<p>Genre:  <span th:text = "${review.genre}"></span></p>
		</header>
			<p th:text = "${review.content}"></p>
			
		
	</article>
	
</body>
</div>
</html>